// Override default variables before the import
$body-bg: #ffffff;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
::selection{
    background-color:lightyellow;
}
::-moz-selection{
    background-color:lightyellow;
}

body{
    font-family: 'Inter', sans-serif;
}

img{
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav{
    a{
        h1{
            color: black;
            text-decoration: none;
        }
    }
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    font-weight: 600;
}

table{
    td{
        width:50%;
    }
}

.vstdb-component-icon{
    margin-left: -50px;
    margin-right: -50px;
    transition: .2s;
}
.vstdb-component-icon:hover{
    padding-left: 75px;
    padding-right: 75px;
    transition: .2s;
}
.vstdb-component-icon-container{
    margin: auto;
    width: 80%;
    padding: 10px;
    box-shadow: 0 2px 2px -5px lightgrey;
}